*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}

:root{
    --main-color:#22d3ee;
    --bg-color:#f0f9ff;
    --card-color: #fff;
}

body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, svg{
    display: block;
    min-width: 100%;
}

input, button{
    font: inherit;
}

p, h1, h2, h3, h4{
    overflow-wrap: break-word;
}

#root, #__next{
    isolation: isolate;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4.6fr;
}

.header{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header-top-wrapper, .header-bottom-wrapper{
    display: grid;
    grid-column: 1 / span 2;
}

.search-bar, .profile-info{
    grid-column: 1;
}

.side-profile, .btns{
    grid-column: 2;
}

.btn{
    background-color: var(--main-color);
    border: none;
    border-radius: 15px;
}

.sidebar{
    background-color: var(--main-color);
    grid-row: 1 / span 2;
}

.main, .other-stuff{
    background-color: var(--bg-color);
}

.main{
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 15px;
    padding: 15px;
}
.main-title{
    grid-column: 1 / span 2;
}

.main .card, .other-stuff .news-wrapper, .other-stuff .trending-profiles{
    background-color: var(--card-color);
}

.other-stuff{
    display: grid;
}